<section class="features-section">

    <div class="features-container">

        <!-- KORT 1 -->
        <div class="feature-card-reveal">

            <article class="feature-card feature-card-1">

                <span class="feature-card-number">
                    01
                </span>

                <div class="feature-card-content">

                    <div class="feature-card-icon">
                        <img src="/assets/small-svg-1.svg" alt="">
                    </div>

                    <div class="feature-card-copy">

                        <h3 class="feature-card-title">
                            {{ title_card_1 }}
                        </h3>

                        <p class="feature-card-text">
                            {{ text_card_1 }}
                        </p>

                    </div>

                </div>

            </article>

        </div>


        <!-- KORT 2 -->
        <div class="feature-card-reveal">

            <article class="feature-card feature-card-2">

                <span class="feature-card-number">
                    02
                </span>

                <div class="feature-card-content">

                    <div class="feature-card-icon">
                        <img src="/assets/small-svg-2.svg" alt="">
                    </div>

                    <div class="feature-card-copy">

                        <h3 class="feature-card-title">
                            {{ title_card_2 }}
                        </h3>

                        <p class="feature-card-text">
                            {{ text_card_2 }}
                        </p>

                    </div>

                </div>

            </article>

        </div>


        <!-- KORT 3 -->
        <div class="feature-card-reveal">

            <article class="feature-card feature-card-3">

                <span class="feature-card-number">
                    03
                </span>

                <div class="feature-card-content">

                    <div class="feature-card-icon">
                        <img src="/assets/small-svg-3.svg" alt="">
                    </div>

                    <div class="feature-card-copy">

                        <h3 class="feature-card-title">
                            {{ title_card_3 }}
                        </h3>

                        <p class="feature-card-text">
                            {{ text_card_3 }}
                        </p>

                    </div>

                </div>

            </article>

        </div>

    </div>

</section>