<section class="pricing-faq-section">

    <div class="container pricing-faq-container">

        {{ pricing_faq }}

            <details class="pricing-faq-item">

                <summary class="pricing-faq-question">

                    <span>
                        {{ question }}
                    </span>

                    <span class="pricing-faq-icon">
                        +
                    </span>

                </summary>

                <div class="pricing-faq-answer">

                    <p>
                        {{ answer }}
                    </p>

                </div>

            </details>

        {{ /pricing_faq }}

    </div>

</section>