<section class="pricing-intro-section">

    <div class="pricing-intro-container">

        <div class="pricing-intro-header">

            <!-- Vänster -->
            <div class="pricing-intro-header-left">

                <span class="pricing-intro-subtitle">
                    {{ intro_small_title }}
                </span>

                <h2 class="pricing-intro-title">
                    {{ intro_title }}
                </h2>

            </div>


            <!-- Höger -->
            <div class="pricing-intro-body">

                <p>
                    {{ intro_body | nl2br }}
                </p>

            </div>

        </div>

    </div>

</section>