<section class="container pricing-notice-section">

    <div class="container pricing-notice-container">

        <div class="pricing-notice-label">
            <span class="pricing-notice-small-title">
                Just nu!
            </span>

            <h2 class="pricing-notice-title">
                {{ notice_title }}
            </h2>
        </div>

        <div class="pricing-notice-content">

            <p class="pricing-notice-text">
                {{ notice_text }}
            </p>

        </div>

    </div>

</section>