<section class="pricing-text-section">

    <div class="container pricing-text-container">

        <div class="pricing-text-left">

            <span class="pricing-text-small-title">
                {{ text_small_title }}
            </span>

            <h2 class="pricing-text-title">
                {{ text_title | nl2br }}
            </h2>

        </div>

        <div class="pricing-text-right">

            <p class="pricing-text-body">
                {{ text_body }}
            </p>

        </div>

    </div>

</section>