
<section class="pricing-users-section">

    <div class="container pricing-users-container">

        <!-- VÄNSTER -->
        <div class="pricing-users-content">

            <span class="pricing-users-small-title">
                {{ users_small_title }}
            </span>

            <h2 class="pricing-users-title">
                {{ users_title | nl2br }}
            </h2>

            <p class="pricing-users-text">
                {{ users_text }}
            </p>

        </div>


        <!-- HÖGER -->
        <div class="pricing-users-levels">

            <article class="pricing-user-level">
                <span class="pricing-user-number">01</span>
        
                <h3 class="pricing-user-title">
                    {{ user_levels:0:user_title }}
                </h3>
        
                <div class="pricing-user-price">
                    <span class="pricing-user-price-value">
                        {{ user_levels:0:user_price }}
                    </span>
                    <span class="pricing-user-price-label">
                        kr / månad
                    </span>
                </div>
            </article>
        
        
            <article class="pricing-user-level">
                <span class="pricing-user-number">02</span>
        
                <h3 class="pricing-user-title">
                    {{ user_levels:1:user_title }}
                </h3>
        
                <div class="pricing-user-price">
                    <span class="pricing-user-price-value">
                        {{ user_levels:1:user_price }}
                    </span>
                    <span class="pricing-user-price-label">
                        kr / månad
                    </span>
                </div>
            </article>
        
        
            <article class="pricing-user-level">
                <span class="pricing-user-number">03</span>
        
                <h3 class="pricing-user-title">
                    {{ user_levels:2:user_title }}
                </h3>
        
                <div class="pricing-user-price">
                    <span class="pricing-user-price-value">
                        {{ user_levels:2:user_price }}
                    </span>
                    <span class="pricing-user-price-label">
                        kr / månad
                    </span>
                </div>
            </article>
        
        
            <article class="pricing-user-level">
                <span class="pricing-user-number">04</span>
        
                <h3 class="pricing-user-title">
                    {{ user_levels:3:user_title }}
                </h3>
        
                <div class="pricing-user-price">
                    <span class="pricing-user-price-value">
                        {{ user_levels:3:user_price }}
                    </span>
                    <span class="pricing-user-price-label">
                        kr / månad
                    </span>
                </div>
            </article>
        
        </div>

    </div>

</section>

