<section class="faq-section">

    <div class="container faq-container">

        <!-- 01 -->
        <div class="faq-group">

            <span class="faq-small-title">
                För redovisningsbyråer och konsulter
            </span>

            <div class="faq-card faq-card-1">

                <details class="faq-item">

                    <summary class="faq-question">

                        <span class="faq-question-text">
                            {{ faq_questions.0.faq_question }}
                        </span>

                        <span class="faq-icon-wrapper">
                            <span class="faq-icon"></span>
                        </span>

                    </summary>

                    <div class="faq-answer-wrapper">

                        <div class="faq-answer">

                            <p>
                                {{ faq_questions.0.faq_answer }}
                            </p>

                        </div>

                    </div>

                </details>

            </div>

        </div>


        <!-- 02 -->
        <div class="faq-group">

            <span class="faq-small-title">
                För företagare
            </span>

            <div class="faq-card faq-card-2">

                <details class="faq-item">

                    <summary class="faq-question">

                        <span class="faq-question-text">
                            {{ faq_questions.1.faq_question }}
                        </span>

                        <span class="faq-icon-wrapper">
                            <span class="faq-icon"></span>
                        </span>

                    </summary>

                    <div class="faq-answer-wrapper">

                        <div class="faq-answer">

                            <p>
                                {{ faq_questions.1.faq_answer }}
                            </p>

                        </div>

                    </div>

                </details>

            </div>

        </div>


        <!-- 03 -->
        <div class="faq-group">

            <span class="faq-small-title">
                Priser & integrationer
            </span>

            <div class="faq-card faq-card-3">

                <details class="faq-item">

                    <summary class="faq-question">

                        <span class="faq-question-text">
                            {{ faq_questions.2.faq_question }}
                        </span>

                        <span class="faq-icon-wrapper">
                            <span class="faq-icon"></span>
                        </span>

                    </summary>

                    <div class="faq-answer-wrapper">

                        <div class="faq-answer">

                            <p>
                                {{ faq_questions.2.faq_answer }}
                            </p>

                        </div>

                    </div>

                </details>

            </div>

        </div>


        <!-- 04 -->
        <div class="faq-group">

            <span class="faq-small-title">
                Kom igång med Oqto
            </span>

            <div class="faq-card faq-card-4">

                <details class="faq-item">

                    <summary class="faq-question">

                        <span class="faq-question-text">
                            {{ faq_questions.3.faq_question }}
                        </span>

                        <span class="faq-icon-wrapper">
                            <span class="faq-icon"></span>
                        </span>

                    </summary>

                    <div class="faq-answer-wrapper">

                        <div class="faq-answer">

                            <p>
                                {{ faq_questions.3.faq_answer }}
                            </p>

                        </div>

                    </div>

                </details>

            </div>

        </div>

    </div>

</section>