<section class="jobs-cta-section">

    <div class="container jobs-cta-container">

        <div class="jobs-cta-content">

            <h2 class="jobs-cta-title">
                {{ cta_title | nl2br }}
            </h2>

            <div class="jobs-cta-buttons">

                <a
                    href="{{ cta_button_1_url }}"
                    class="jobs-cta-button jobs-cta-button-primary"
                >
                    <span>{{ button_1_text }}</span>
                </a>

                <a
                    href="{{ cta_button_2_url }}"
                    class="jobs-cta-button about-cta-button-secondary"
                >
                    <span>{{ button_2_text }}</span>
                </a>

            </div>

        </div>

    </div>

</section>