<section class="jobs-openings-section">
    <div class="container jobs-openings-container">

        <div class="jobs-openings-header">
            <span class="jobs-openings-small-title">
                * Lediga tjänster
            </span>
        </div>


        <div class="jobs-openings-list">

            {{ collection:open_positions sort="title:asc" }}

            <a href="{{ url }}" class="job-opening-card">

                <h3 class="jobs-opening-title">
                    {{ title }}
                </h3>

                {{ if locations | count || employment_type }}
                    <span class="jobs-opening-location">
                        {{ locations }}{{ if index > 0 }} / {{ /if }}{{ value }}{{ /locations }}{{ if locations | count && employment_type }} / {{ /if }}{{ employment_type }}
                    </span>
                {{ /if }}

                <div class="jobs-opening-bottom">

                    <div class="jobs-opening-categories">

                        {{ job_experiences }}
                            <span class="jobs-opening-category">
                                {{ title }}
                            </span>
                        {{ /job_experiences }}

                    </div>

                    <span class="jobs-opening-arrow">
                        →
                    </span>

                </div>

            </a>

            {{ /collection:open_positions }}

        </div>
        

    </div>
</section>