<section class="jobs-openings-section">
    <div class="container jobs-openings-container">

        <div class="jobs-openings-header">
            <span class="jobs-openings-small-title">
                Lediga tjänster
            </span>
        </div>


        <div class="jobs-openings-list">

            {{ jobs }}

            <a href="/jobs/{{ job_slug }}" class="job-opening-card">

                <h3 class="jobs-opening-title">
                    {{ job_title }}
                </h3>

                <span class="jobs-opening-location">
                    {{ job_location }}
                </span>

                <div class="jobs-opening-bottom">

                    <div class="jobs-opening-categories">
                
                        {{ category }}
                            <span class="jobs-opening-category">
                                {{ categories }}
                            </span>
                        {{ /category }}
                
                    </div>
                
                    <span class="jobs-opening-arrow">
                        →
                    </span>
                
                </div>

            </a>

            {{ /jobs }}

        </div>
        

    </div>
</section>