@import url("https://use.typekit.net/uwn4tkk.css");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600;700&display=swap");


   :root {
    --page-padding: 40px;
    --content-width: 1300px;
  
    --section-padding-top: 100px;
    --section-padding-bottom: 100px;
  
    --color-text: #2e251f;
    --color-text-light: #1a1715;
    --color-accent: #ff5500;
  }
  
  
  /* =========================================
     GLOBAL RESET
     ========================================= */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    color: var(--color-text);
}


  
  
  /* =========================================
     GLOBAL CONTAINER
     ========================================= */
  
  .container {
    width: 100%;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
  }
  
  
  /* =========================================
     GLOBAL SECTIONS
     ========================================= */
  
  .section {
    width: 100%;
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
  }
  
  
  /* =========================================
     GLOBAL SECTION INNER
     ========================================= */
  
  .section-inner {
    width: 100%;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
  }
  
  
  /* =========================================
     GLOBAL TYPOGRAPHY
     ========================================= */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
  }
  
  
  /* =========================================
     GLOBAL LINKS
     ========================================= */
  
  a {
    color: inherit;
  }
  
  
  /* =========================================
     RESPONSIVE
     ========================================= */
  
  @media (max-width: 960px) {
    :root {
      --page-padding: 24px;
  
      --section-padding-top: 70px;
      --section-padding-bottom: 70px;
    }
  }
  
  
  @media (max-width: 600px) {
    :root {
      --page-padding: 20px;
  
      --section-padding-top: 60px;
      --section-padding-bottom: 60px;
    }
  }



/* Css-komponenter*/

 @import "./components/navbar.css";
@import "./components/hero.css";
@import "./components/cards-section.css";
@import "./components/video-section.css";
@import "./components/faq-section.css";
@import "./components/why-oqto.css";
@import "./components/reviews.css";
@import "./components/footer.css";


@import "./about-us/components/hero.css";
@import "./about-us/components/illustration.css";
@import "./about-us/components/about-why.css";
@import "./about-us/components/team.css";
@import "./about-us/components/cta.css";

@import "./faq/components/hero.css";
@import "./faq/components/faq.css";
@import "./faq/components/cta.css";

@import "./pricing/components/hero.css";
@import "./pricing/components/intro.css";
@import "./pricing/components/pricing-plans.css";
@import "./pricing/components/faq.css";
@import "./pricing/components/users.css";
@import "./pricing/components/included.css";
@import "./pricing/components/text.css";
@import "./pricing/components/notice.css";
@import "./pricing/components/routing.css";
@import "./pricing/components/cta.css";

@import "./jobs/components/hero.css";
@import "./jobs/components/openings.css";
@import "./jobs/components/show.css";
@import "./jobs/components/cta.css";


@import "./developers/components/hero.css";

@import "./contact/components/hero.css";

@import "./integrations/components/cards.css";




@import "tailwindcss";
@source "../views";
@source "../../content";



