<section class="about-why-section">

    <div class="container about-why-container">

        <!-- Övre etiketter -->
        <div class="about-why-eyebrow">

            <span class="about-why-title-small">
                {{ small_title }}
            </span>

        </div>

        <!-- Titel + text -->
        <div class="about-why-header">

            <div class="about-why-left">

                <h2 class="about-why-title">
                    {{ about_oqto_heading | nl2br }}
                </h2>

            </div>

            <div class="about-why-right">

                <p class="about-why-text">
                    {{ about_oqto_body }}
                </p>

            </div>

        </div>

    </div>

</section>